.new-tweet {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
}

#tweet-text {
  display: flex;
  background-color: #f4f1ec;
  border: none;
  line-height: 2vh;
  width: 90%;
  outline: none;
  resize: none;
}

#tweet-btn {
  background-color: #4056A1;
  color:#FFFFFF;
  font-family: Bungee, sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: Bungee, sans-serif;
}

.red {
  color: red;
}