.tweet-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
}

.tweet-text {
  display: flex;
  background-color: #f4f1ec;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  border-bottom: solid black;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.25em;
  width: 100%;
  outline: none;
  overflow-y: auto;
  resize: none;
  word-wrap: normal;
  word-break: break-word;
}

.avatar {
  margin:0.5em;
}

.tweet-header {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  width:100%;
}

p.tweet-header {
  padding-left: 0.5em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border {
  border: solid black;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 5%;
  padding-right: 5%;

}

.timeDisplay {
  font-size: 70%;
  padding-top: 1em;
  padding-bottom: 1em;
}

article:hover {
  font-weight: bolder;
  box-shadow: 5px 10px;
}

article:hover .userName {
opacity: 0.5;
font-weight: normal;
}

article:hover .icons {
  opacity: 0.75;
} 

.userName {
  opacity: 0;
}

.icons {
  opacity: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.red {
  color: red;
}

.counter {
  font-family: Bungee, sans-serif;
}

#tweet-btn {
  background-color: #4056A1;
  color:#FFFFFF;
  font-family: Bungee, sans-serif;
}
